.megamenu {
  width: 100%;

  .dropdown {
    position: static;
    border: 2px solid $light;
    animation: all 0.5s;
    margin: 0px 4px 4px;

    @media screen and (max-width:1024px) {
      margin: 0px;
    }

    &:hover {
      border: 2px solid $dark;
    }

    &.show {
      border: 2px solid $dark;
    }

    .show {
      background: rgb(255 255 255 / 50%);
      backdrop-filter: blur(30px);
      height: 100%;
    }

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    margin-top: 6px;
    padding: 0;

    .dropdown-item {

      .card {
        background-color: $dark;
        border: 0px solid transparent;

        .card-img {
          opacity: 0.4;
        }

        transition: all .4s;

        &:hover {
          background-color: $primary !important;
          color: $primary;
        }
      }
    }
  }
}